*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to left bottom, #2a6d5c, #2c8082, #4790a6, #729fc2, #a1acd6);

    }

header{
    border-bottom: 2px solid black;
    background-color: transparent;
}
main section h2{
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgb(58, 30, 30);

}

header div{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: larger;
}
main h2{
    background-color: rgb(174, 192, 197);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

figure img{
    width: 100%;
    height: auto;
}

button{
    background-color: rgb(174, 192, 197);
    color: black;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: smaller;
    margin: 10px;
}
button:hover{
    background-color: rgb(57, 81, 202);
}


form{
    font-size: large;
}

span{
    font-size: 18px;
    font-weight: 600;
}
 main{
        max-width: 1200px;
        margin: auto;
        display: flex;
        gap: 30px;
}

@media all and (max-width: 768px) {
    /* mobile styles */
    header div{
    flex-direction: column;
    gap: 10px;
    text-align: center;
    }

    nav ul{
        flex-direction: column;
    }
    h1{
        font-size: 1.5rem;
    }
}

@media all and (max-width: 1024px) {
    /* tablet styles */
    h1{
        font-size: 2.5rem;
    }
   
}
@media all and (min-width: 1025px) {
    /* desktop styles */
    h1{
        font-size: 3.5rem;
    }
}